/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Set font and background colors */
body {
	font-family: “Comic Sans MS”, “Comic Sans”, cursive; 
	background-color: #f5f5f5;
}

/* Set page heading style */
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	margin: 30px;
	text-align: center;
}

/* Set main section style */
main {
	margin: 20px;
  	display: flex;
	flex-wrap: wrap;
}

/* Set section title region style */
section {
	position: relative;
	/* background-color: #fff; */
	border: 2px solid #000;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

section#chicken {
	background-color: #bbb1b1;
}

section#beef {
	background-color: #e6d4d4;
}

section#sushi {
	background-color: #dba6a6;
}


p {
   padding-top:20px ;
}

section h2 {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	padding:0px;
	margin: 0;
	width:150px;
	height: 40px;
	text-align: center;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
}

section h2.one {
  	background-color: #ec8dc1;
  
} 
section h2.two {
  	background-color: #e67272;
} 
section h2.three {
  	background-color: #ebb360;
} 

/* Set desktop layout */
@media (min-width: 992px) {
	#chicken {
		float: left;
		width: 31.00%;
	}

	#beef {
		float: left;
		width: 31.00%;
	}

	#sushi {
		float: left;
		width: 31.00%;
	}
	
}

/* Set tablet layout */
@media (min-width: 768px) and (max-width: 991px) {
	#chicken, #beef {
		float: left;
		width: 47.5%;
	}

	#sushi {
		clear: both;
		width: 97.5%;
	}
}

/* Set mobile layout */
@media (max-width: 767px) {
	section {
		width: 100%;
	}

}
